<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
</head>
<body>
  <div class="container">
    <% include ./partials/nav %>
    <p><h2><%= title %></h2></p>
    <p>Welcome to my blog!</p>
  </div><!-- container -->  
</body>
</html>
